<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Vseager_SnowdogMenu">
		<sequence>
			<module name="Magento_Theme"/>
			<module name="Snowdog_Menu"/>
		</sequence>
	</module>
</config>
